/* Navigation Bar */

nav {
    display: flex;
    position: sticky;
    padding: 1em 2em;
    height: 3.2em;
    
    justify-content: space-between;
    align-items: stretch;

    background-color: #222;
}

nav .nav-heading {
    display: flex;
    align-items: center;
}
nav .nav-heading h1 {
    margin: 0;
    font-size: 2em;
}

nav .nav-links {
    display: flex;
    align-items: center;
    gap: 2em;
}
nav .nav-links .signup-button {
    padding: 0.7em 1em;
    border-radius: 1em;
    
    background-color: #8a2be2;
    transition: 300ms all ease-in-out;
}
nav .nav-links .signup-button:hover {
    background-color: #b66ef9;
    color: #000;
}

a {
    text-decoration: none;
    color: #fff;
}
