body {
    margin: 0;

    background-color: #333;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main Content */

.main-content {
    display: flex;
    flex-direction: column;
}

.main-content .main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 30dvh;
    padding: 5em;
    text-align: center;

    background: linear-gradient(135deg, #ee6363, #9097ec);
    background-size: 300% 300%;
    animation: gradient-anim 25s ease infinite;
}

.main-section h1 {
    margin: 0;
    font-size: 6em;
    font-weight: 800;

    filter: drop-shadow(0 0 16px #00000088);
}
.main-section h2 {
    margin: 0;
    font-size: 2.5em;

    filter: drop-shadow(0 0 16px #00000088);
}

.main-content .events-section {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    padding: 1em 2em;
    min-height: 20dvh;

    background-color: #333;
}

.event-card-container {
    display: flex;
    gap: 2em;
}

.event-card {
    display: flex;
    flex-direction: column;
    width: 24em;
    border-radius: 1em;
    
    background-color: #444;
    filter: drop-shadow(0 0 8px #00000088);
    transition: 200ms all ease-in-out;
}
.event-card img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.event-card .card-caption {
    padding: 1em;
}
.card-caption h1 {
    margin: 0;
    font-size: 1.8em;
}
.event-card:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    padding: 1em;
}
footer h1 {
    margin: 0;

    font-size: 1.6em;
}

/* Other Elements */

a {
    text-decoration: none;
    color: #fff;
}

@keyframes gradient-anim {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}
